* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 1rem;
  padding: 1.5rem .8rem;
  text-align: center;
  margin: 1.5rem 0;
  position: relative;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}