* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}

p {
  color: red;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 1rem;
  padding: 1.5rem .8rem;
  text-align: center;
  margin: 1.5rem 1rem;
  position: relative;
}

.card.reverse {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  background-color: #202142;
}

.btn-secondary {
  background: #ff6a95;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(0.98);
}

.btn:disabled {
  background-color: #cccccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  opacity: 1;
  transform: scale(1);
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  margin: 1rem auto;
  padding: 8px 10px;
  width: 500px;
}

input {
  border: none;
  border-radius: .5rem;
  flex-grow: 2;
  font-size: 1rem;
  padding-left: .5rem;
}

input:focus {
  outline: none;
}